@tile-size: 30px;

.canvas {
  font-size: 0;

  .ui-element {
    position: absolute;
    display: block;
    width: @tile-size;
    height: @tile-size;
    content: '';

    &:hover:after {
      z-index: 100000;
      position: absolute;
      display: block;
      width: @tile-size;
      height: @tile-size;
      content: '';

      opacity: 0.9;

      background-image: url(/png/map-tile-selection-cursor.png);
      z-index: 10000;
    }


    &.cursor {
      background-image: url(/png/map-tile-selection-cursor.png);
      z-index: 10000;
      -webkit-animation-duration: 0.5s;
      -webkit-animation-delay: 0s;
    }

    &.grassland {
      background-image: url(/png/grassland.png);
      z-index: 100;
    }

    &.guy {
      background-image: url(/png/guy.png);
      z-index: 1000;
    }

    &.balloon {
      z-index: 2000;
      margin-top: -95px;
    }
  }
}
