@tile-size: 30px;

.ui-element-attributes(@image-url) {
  &:after {
    position: absolute;
    display: block;
    width: @tile-size;
    height: @tile-size;
    content: "";
    background-image: @image-url;
  }
}

.ui-element(@class-name, @image-url) {
  &.@{class-name} {
    .ui-element-attributes(@image-url);
  }
}

#map-view {
  display: inline-block;
  border: 1px solid black;

  .row {
    font-size: 0;

    .tile {
      display: inline-block;
      width: @tile-size;
      height: @tile-size;
      vertical-align: top;
      font-size: 0;

      &:hover {
        opacity: 0.9;
        .ui-element-attributes(url(/png/map-tile-selection-cursor.png));
      }

      .ui-element(selected, url(/png/map-tile-selection-cursor.png));

      &.grass-land {
        background-color: green;
      }
    }
  }
}
