#sidebar {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  height: 600px;
  background: black;
  border-radius: 5px;

  .selected-object-name {
    color: white;
    font-size: 25px;
    border-bottom: 1px solid;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .actions {
    .action {
      color: white;
      &.active {
        text-decoration: underline;
      }
    }
  }
}